@tailwind base;
@tailwind components;
@tailwind utilities;

 
/* width */
::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}